<div class="col-md-9 col-sm-8 col-xs-12">
  <div class="row filterArea">
    <div class="col-xs-6">
      <select name="guiest_id1" id="guiest_id1" class="select-drop">
        <option value="0">Sort</option>
        <option value="1">Best Selling</option>
        <option value="2">Newest to Oldest</option>
        <option value="3">Price: Low to High</option>
        <option value="3">Price: High to Low</option>
      </select>
    </div>
    <div class="col-xs-6">
      <div class="btn-group pull-right" role="group">
        <a href="#" id="grid" class="btn btn-default active"><span class="glyphicon glyphicon-th"></span>Grid</a>
        <a href="#" id="list" class="btn btn-default"><span class="glyphicon glyphicon-th"></span>List</a>
      </div>
    </div>
  </div>
</div>
