<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>RELATED PRODUCTS</h4>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <% @related_products.each do |related_product| %>
      <%= link_to potepan_product_path(related_product.id) do %>
        <div class="productBox owl-carousel featuredProductsSlider">
          <div class="slide">
            <div class="productImage clearfix">
              <%= image_tag related_products.display_image.attachment.url %>
            </div>
            <div class="productCaption clearfix">
              <h5>related_products.name</h5>
              <h3>related_products.display_price</h3>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
